edited_gtfs/agency.txt filter=lfs diff=lfs merge=lfs -text
edited_gtfs/calendar_dates.txt filter=lfs diff=lfs merge=lfs -text
edited_gtfs/routes.txt filter=lfs diff=lfs merge=lfs -text
edited_gtfs/calendar.txt filter=lfs diff=lfs merge=lfs -text
edited_gtfs/feed_info.txt filter=lfs diff=lfs merge=lfs -text
edited_gtfs/shapes.txt filter=lfs diff=lfs merge=lfs -text
edited_gtfs/stop_times.txt filter=lfs diff=lfs merge=lfs -text
edited_gtfs/stops.txt filter=lfs diff=lfs merge=lfs -text
edited_gtfs/transfers.txt filter=lfs diff=lfs merge=lfs -text
edited_gtfs/trips.txt filter=lfs diff=lfs merge=lfs -text
gtfs/shapes.txt filter=lfs diff=lfs merge=lfs -text
gtfs/transfers.txt filter=lfs diff=lfs merge=lfs -text
gtfs/trips.txt filter=lfs diff=lfs merge=lfs -text
gtfs/calendar.txt filter=lfs diff=lfs merge=lfs -text
gtfs/calendar_dates.txt filter=lfs diff=lfs merge=lfs -text
gtfs/feed_info.txt filter=lfs diff=lfs merge=lfs -text
gtfs/routes.txt filter=lfs diff=lfs merge=lfs -text
gtfs/agency.txt filter=lfs diff=lfs merge=lfs -text
gtfs/stop_times.txt filter=lfs diff=lfs merge=lfs -text
gtfs/stops.txt filter=lfs diff=lfs merge=lfs -text
